<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lillian configuration</title>

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="../../node_modules/uikit/dist/css/uikit.min.css"/>

    <!-- UIkit JS -->
    <script src="../../node_modules/uikit/dist/js/uikit.min.js"></script>
    <script src="../../node_modules/uikit/dist/js/uikit-icons.min.js"></script>

    <!-- own CSS -->
    <link rel="stylesheet" href="../fonts/fonts.css"/>
    <link rel="stylesheet" href="config.css"/>

    <!-- renderer -->
    <script src="../config.js"></script>
</head>
<body class="uk-flex">
<section class="uk-flex-1 uk-flex">
    <main class="uk-background-secondary uk-flex-1 uk-padding">
        <h3 class="uk-h3">Local</h3>
        <ul class="uk-list uk-list-divider">
            <li class="uk-flex">
                <div>List item 1</div>
                <div class="uk-flex-1"></div>
                <div>
                    <a href="" uk-icon="icon: pencil"></a>
                    <a href="" uk-icon="icon: trash"></a>
                </div>
            </li>
            <li class="uk-flex">
                <div>List item 1</div>
                <div class="uk-flex-1"></div>
                <div>
                    <a href="" uk-icon="icon: pencil"></a>
                    <a href="" uk-icon="icon: trash"></a>
                </div>
            </li>
            <li class="uk-flex">
                <div>List item 1</div>
                <div class="uk-flex-1"></div>
                <div>
                    <a href="" uk-icon="icon: pencil"></a>
                    <a href="" uk-icon="icon: trash"></a>
                </div>
            </li>
            <li class="uk-flex">
                <div>List item 1</div>
                <div class="uk-flex-1"></div>
                <div>
                    <a href="" uk-icon="icon: pencil"></a>
                    <a href="" uk-icon="icon: trash"></a>
                </div>
            </li>
            <li class="uk-flex">
                <div>List item 1</div>
                <div class="uk-flex-1"></div>
                <div>
                    <a href="" uk-icon="icon: pencil"></a>
                    <a href="" uk-icon="icon: trash"></a>
                </div>
            </li>
            <li class="uk-flex">
                <div>List item 1</div>
                <div class="uk-flex-1"></div>
                <div>
                    <a href="" uk-icon="icon: pencil"></a>
                    <a href="" uk-icon="icon: trash"></a>
                </div>
            </li>
        </ul>
        <h3 class="uk-h3">Remote</h3>
        <ul class="uk-list uk-list-divider">
            <li class="uk-flex">
                <div>List item 1</div>
                <div class="uk-flex-1"></div>
                <div>
                    <a href="" uk-icon="icon: pencil"></a>
                    <a href="" uk-icon="icon: trash"></a>
                </div>
            </li>
            <li class="uk-flex">
                <div>List item 1</div>
                <div class="uk-flex-1"></div>
                <div>
                    <a href="" uk-icon="icon: pencil"></a>
                    <a href="" uk-icon="icon: trash"></a>
                </div>
            </li>
            <li class="uk-flex">
                <div>List item 1</div>
                <div class="uk-flex-1"></div>
                <div>
                    <a href="" uk-icon="icon: pencil"></a>
                    <a href="" uk-icon="icon: trash"></a>
                </div>
            </li>
        </ul>
    </main>
    <aside class="uk-padding-small uk-background-primary uk-width-xlarge">
        <form class="uk-grid-small" uk-grid="">
            <fieldset class="uk-fieldset uk-width-1-1">
                <legend class="uk-legend">Add new location</legend>
                <div class="uk-margin uk-width-1-1">
                    <select class="uk-select" title="">
                        <option>Local</option>
                        <option>Remote</option>
                    </select>
                </div>
                <div class="uk-margin uk-width-1-1">
                    <div class="uk-width-1-1 uk-inline">
                        <span class="uk-form-icon uk-text-bottom" uk-icon="icon: tag"></span>
                        <input class="uk-input" type="text" title="" placeholder="Name">
                    </div>
                </div>
                <div class="uk-margin uk-width-1-1">
                    <div class="uk-width-1-1 uk-inline">
                        <span class="uk-form-icon uk-text-bottom" uk-icon="icon: link"></span>
                        <input class="uk-input" type="text" title="" placeholder="URL">
                    </div>
                </div>
                <div class="uk-margin uk-width-1-1">
                    <div class="uk-width-1-1 uk-inline">
                        <span class="uk-form-icon uk-text-bottom" uk-icon="icon: folder"></span>
                        <input class="uk-input" type="text" title="" placeholder="Directory">
                    </div>
                </div>
                <div class="uk-margin uk-width-1-1">
                    <div class="uk-width-1-1 uk-inline">
                        <span class="uk-form-icon uk-text-bottom" uk-icon="icon: user"></span>
                        <input class="uk-input" type="text" title="" placeholder="Login">
                    </div>
                </div>
                <div class="uk-margin uk-width-1-1">
                    <div class="uk-width-1-1 uk-inline">
                        <span class="uk-form-icon uk-text-bottom" uk-icon="icon: lock"></span>
                        <input class="uk-input" type="password" title="" placeholder="Password">
                    </div>
                </div>
                <div class="uk-margin uk-width-1-1">
                    <button class="uk-button uk-button-default uk-width-1-1">Submit</button>
                </div>
            </fieldset>
        </form>
        <form class="uk-grid-small" uk-grid="">
            <fieldset class="uk-fieldset uk-width-1-1">
                <legend class="uk-legend">Edit location</legend>
                <div class="uk-margin uk-width-1-1">
                    <div class="uk-width-1-1 uk-inline">
                        <span class="uk-form-icon uk-text-bottom" uk-icon="icon: tag"></span>
                        <input class="uk-input" type="text" title="" placeholder="Name" value="Google Drive">
                    </div>
                </div>
                <div class="uk-margin uk-width-1-1">
                    <div class="uk-width-1-1 uk-inline">
                        <span class="uk-form-icon uk-text-bottom" uk-icon="icon: link"></span>
                        <input class="uk-input" type="text" title="" placeholder="URL" value="https://drive.google.com/drive/u/1/my-drive">
                    </div>
                </div>
                <div class="uk-margin uk-width-1-1">
                    <div class="uk-width-1-1 uk-inline">
                        <span class="uk-form-icon uk-text-bottom" uk-icon="icon: folder"></span>
                        <input class="uk-input" type="text" title="" placeholder="Directory" value="photos">
                    </div>
                </div>
                <div class="uk-margin uk-width-1-1">
                    <div class="uk-width-1-1 uk-inline">
                        <span class="uk-form-icon uk-text-bottom" uk-icon="icon: user"></span>
                        <input class="uk-input" type="text" title="" placeholder="Login" value="tmiskow">
                    </div>
                </div>
                <div class="uk-margin uk-width-1-1">
                    <div class="uk-width-1-1 uk-inline">
                        <span class="uk-form-icon uk-text-bottom" uk-icon="icon: lock"></span>
                        <input class="uk-input" type="password" title="" placeholder="Password" value="tolstoy">
                    </div>
                </div>
                <div class="uk-margin uk-width-1-1 uk-flex">
                    <button class="uk-button uk-button-default uk-width-1-2">Cancel</button>
                    <button class="uk-button uk-button-default uk-width-1-2">Save</button>
                </div>
            </fieldset>
        </form>
    </aside>
</section>
</body>
</html>