<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lillian configuration</title>

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="../../node_modules/uikit/dist/css/uikit.min.css"/>

    <!-- UIkit JS -->
    <script src="../../node_modules/uikit/dist/js/uikit.min.js"></script>
    <script src="../../node_modules/uikit/dist/js/uikit-icons.min.js"></script>

    <!-- own CSS -->
    <link rel="stylesheet" href="../fonts/fonts.css"/>
    <link rel="stylesheet" href="config.css"/>

    <!-- renderer -->
    <script src="../config.js"></script>
</head>
<body class="uk-flex">
<section class="uk-flex-1 uk-flex">
    <main class="uk-background-secondary uk-flex-1 uk-padding uk-overflow-auto">
        <h3 class="uk-h3">Local</h3>
        <ul id="local-list" class="uk-list uk-list-divider"></ul>
        <h3 class="uk-h3">Remote</h3>
        <ul id="remote-list" class="uk-list uk-list-divider"></ul>
    </main>
    <aside class="uk-padding-small uk-background-primary uk-width-xlarge uk-overflow-auto">
        <form id="add-form" class="uk-grid-small" uk-grid="">
            <fieldset class="uk-fieldset uk-width-1-1">
                <legend class="uk-legend">Add new location</legend>
                <div class="uk-margin uk-width-1-1">
                    <select id="add-select" class="uk-select" title="">
                        <option>Local</option>
                        <option>Remote</option>
                    </select>
                </div>
                <div class="uk-margin uk-width-1-1">
                    <div class="uk-width-1-1 uk-inline">
                        <span class="uk-form-icon uk-text-bottom" uk-icon="icon: tag"></span>
                        <input id="add-name" class="uk-input" type="text" title="" placeholder="Name">
                    </div>
                </div>
                <div class="uk-margin uk-width-1-1">
                    <div class="uk-width-1-1 uk-inline" hidden>
                        <span class="uk-form-icon uk-text-bottom" uk-icon="icon: link"></span>
                        <input id="add-url" class="uk-input" type="text" title="" placeholder="URL">
                    </div>
                </div>
                <div class="uk-margin uk-width-1-1">
                    <div class="uk-width-1-1 uk-inline">
                        <span class="uk-form-icon uk-text-bottom" uk-icon="icon: folder"></span>
                        <input id="add-path" class="uk-input" type="text" title="" placeholder="Directory">
                    </div>
                </div>
                <div class="uk-margin uk-width-1-1">
                    <div class="uk-width-1-1 uk-inline" hidden>
                        <span class="uk-form-icon uk-text-bottom" uk-icon="icon: user"></span>
                        <input id="add-login" class="uk-input" type="text" title="" placeholder="Login">
                    </div>
                </div>
                <div class="uk-margin uk-width-1-1">
                    <div class="uk-width-1-1 uk-inline" hidden>
                        <span class="uk-form-icon uk-text-bottom" uk-icon="icon: lock"></span>
                        <input id="add-password" class="uk-input" type="password" title="" placeholder="Password">
                    </div>
                </div>
                <div class="uk-margin uk-width-1-1">
                    <button class="uk-button uk-button-default uk-width-1-1">Submit</button>
                </div>
            </fieldset>
        </form>
        <form id="local-edit-form" class="uk-grid-small" uk-grid="" hidden>
            <fieldset class="uk-fieldset uk-width-1-1">
                <legend class="uk-legend">Edit local location</legend>
                <div class="uk-margin uk-width-1-1">
                    <div class="uk-width-1-1 uk-inline">
                        <span class="uk-form-icon uk-text-bottom" uk-icon="icon: tag"></span>
                        <input id="local-edit-name" class="uk-input" type="text" title="Name" placeholder="Name" value="">
                    </div>
                </div>
                <div class="uk-margin uk-width-1-1">
                    <div class="uk-width-1-1 uk-inline">
                        <span class="uk-form-icon uk-text-bottom" uk-icon="icon: folder"></span>
                        <input id="local-edit-path" class="uk-input" type="text" title="Directory" placeholder="Directory" value="">
                    </div>
                </div>
                <div class="uk-margin uk-width-1-1 uk-flex">
                    <button id="local-edit-cancel" class="uk-button uk-button-default uk-width-1-2" title="Cancel">Cancel</button>
                    <button id="local-edit-save" class="uk-button uk-button-default uk-width-1-2" title="Save">Save</button>
                </div>
            </fieldset>
        </form>
        <form id="remote-edit-form" class="uk-grid-small" uk-grid="" hidden>
            <fieldset class="uk-fieldset uk-width-1-1">
                <legend class="uk-legend">Edit remote location</legend>
                <div class="uk-margin uk-width-1-1">
                    <div class="uk-width-1-1 uk-inline">
                        <span class="uk-form-icon uk-text-bottom" uk-icon="icon: tag"></span>
                        <input class="uk-input" type="text" id="remote-edit-name" placeholder="Name" value="">
                    </div>
                </div>
                <div class="uk-margin uk-width-1-1">
                    <div class="uk-width-1-1 uk-inline">
                        <span class="uk-form-icon uk-text-bottom" uk-icon="icon: link"></span>
                        <input class="uk-input" type="text" id="remote-edit-url" placeholder="URL" value="">
                    </div>
                </div>
                <div class="uk-margin uk-width-1-1">
                    <div class="uk-width-1-1 uk-inline">
                        <span class="uk-form-icon uk-text-bottom" uk-icon="icon: folder"></span>
                        <input class="uk-input" type="text" id="remote-edit-path" placeholder="Directory" value="">
                    </div>
                </div>
                <div class="uk-margin uk-width-1-1">
                    <div class="uk-width-1-1 uk-inline">
                        <span class="uk-form-icon uk-text-bottom" uk-icon="icon: user"></span>
                        <input class="uk-input" type="text" id="remote-edit-login" placeholder="Login" value="">
                    </div>
                </div>
                <div class="uk-margin uk-width-1-1">
                    <div class="uk-width-1-1 uk-inline">
                        <span class="uk-form-icon uk-text-bottom" uk-icon="icon: lock"></span>
                        <input class="uk-input" type="password" id="remote-edit-password" placeholder="Password" value="">
                    </div>
                </div>
                <div class="uk-margin uk-width-1-1 uk-flex">
                    <button class="uk-button uk-button-default uk-width-1-2" id="remote-edit-cancel">Cancel</button>
                    <button class="uk-button uk-button-default uk-width-1-2" id="remote-edit-save">Save</button>
                </div>
            </fieldset>
        </form>
    </aside>
</section>
</body>
</html>