<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lillian</title>

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="../../node_modules/uikit/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="../../node_modules/uikit/dist/js/uikit.min.js"></script>
    <script src="../../node_modules/uikit/dist/js/uikit-icons.min.js"></script>

    <!-- own CSS -->
    <link rel="stylesheet" href="../fonts/fonts.css" />
    <link rel="stylesheet" href="index.css" />

    <!-- renderer -->
    <script src="../renderer.js"></script>
</head>
<body class="uk-flex uk-flex-column">
    <header class="uk-navbar-container uk-padding-small uk-background-primary" uk-navbar="">
        <form id="path-form" class="uk-inline uk-width-expand uk-text-large">
            <a id="path-button" class="uk-form-icon uk-form-icon-flip" uk-icon="icon: forward"></a>
            <input id="path-input" class="uk-input" title="path" value="">
        </form>
    </header>
    <section class="uk-flex-1 uk-flex">
        <aside class="uk-padding uk-width-medium uk-flex-stretch uk-background-secondary uk-overflow-auto">
            <ul id="left-nav" class="uk-nav uk-text-large">
            </ul>
        </aside>
        <main id="main-section" class="uk-width-expand uk-overflow-auto uk-text-center uk-padding uk-flex uk-flex-top uk-flex-left uk-grid-small" uk-grid="">
        </main>
    </section>
</body>
</html>