* {
    font-family: Comfortaa, sans-serif !important;
}

body, html {
    height: 100vh !important;
}

.uk-background-primary {
    background-color: #c5a1af !important;
}

.uk-background-secondary {
    background-color: #E2D0D7 !important;
}

footer {
    background-color: #d8c1ca;
}

input.uk-input:focus {
    border-color: #947280 !important;
}

main {
    align-content: flex-start;
}

hr {
    border-top: 1px solid #666;
}

a#config-button {
    color: white;
}

a#config-button:hover {
    color: #947280;
}

.object {
    cursor: pointer;
}